<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wre.yin.whiterabbiteventapp">

    <permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.READ_CONTACTS"
        android:protectionLevel="signature" />
    <permission
        android:name="com.wre.yin.whiterabbiteventapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.wre.yin.whiterabbiteventapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/wre_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.wre.yin.whiterabbiteventapp" />
            </intent-filter>
        </receiver>

        <service android:name=".MSGService" />

        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".EventDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrowdPicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocialMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VenueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponcersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakersProfileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponcersProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenViewActivity"
            android:largeHeap="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".HelpActivity" />
        <activity android:name=".GalleryNewActivity" />
        <activity android:name=".NewGalImageDetails" />
        <activity android:name=".VideoPlayerActivity" />
        <activity android:name=".DiscoTopics"></activity>
    </application>

</manifest>