<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wre.yin.whiterabbiteventapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission
        android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/wre_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrowdPicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocialMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VenueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponcersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponcersProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FullScreenViewActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>